div#wrapper div#wrapper2 div.container div#section3 div#main-nav {
  width: 200px; 
  float: left;
}

div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list {
	-webkit-padding-start: 0px;
}

div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li {
	background-color: #0d723c;
	list-style-type: none;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid white 1px;
}

div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li.selected-nav-item {
	background-color: #4aaa42; 
}

div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: bold;
  font-style: inherit;
}

div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li a.hover {
  font-weight: bold;
}






div#wrapper div#wrapper2 div.container div#section3 div#content-pane h1 {
  font-size: 3.0em;
  font-weight: bold;
  font-style: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #555;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane {
  background-color: #eee;
  width: 750px;
  float: left;
  margin-left: 10px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header {
  background-color: #0d723c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-left: 7px;
  margin-right: 7px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view {
  height: 250px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 25px;
  background-color: white;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span {
  background-color: #0d723c;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 1.3em;
  font-style: inherit;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header > .account-name, .account-no-label, .account-no, .acconut-bal-label {
  float: left;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-no-label {
  padding-left: 80px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-bal-label {
  padding-left: 80px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-no {
  padding-left: 0px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-balance {
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view span.activity-label {
  color: #555;
  font-size: 1.4em;
  font-style: inherit;
  padding-left: 40px;
  padding-right: 10px;
}

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view div.activity-container {
	padding-top: 15px;
}




.custom-dropdown--large {
    font-size: 1.5em;
    font-style: inherit;
}

.custom-dropdown--small {
    font-size: 1.3em;
    font-style: inherit;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    font-style: inherit;
    padding: .3em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #ddd;
    color: #444;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,1);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #ddd;
        border-left: 1px solid rgba(0,0,0,1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}






