h2 {
	margin-top: 10px;
	margin-left: 7px;
}
.content {
  padding: 4px 0;
}
.autopay {
  .name {
    @include span-columns(3);
  }
  .amount {
    @include span-columns(3);
    text-align: center;
  }
  .next {
    @include span-columns(5);
    text-align: center;
  }
  .actions{
    @include span-columns(1);
    text-align: right;
  }

  table.table {
    border: 0;
    th {
      border: 0;
    }
  }
}
.past-payment {
	td {
        padding-left: 10px;
        padding-right: 10px;
  	}
}