div#wrapper div#wrapper2 div.container div#section3 div
  &#main-nav
    width: 200px
    float: left
    ul.side-nav-list
      -webkit-padding-start: 0px
      a
        color: white
        text-decoration: none
        font-size: 11pt
        font-weight: bold
        font-style: inherit  
        font-weight: bold
      li
        background-color: #0d723c
        list-style-type: none
        padding-left: 30px
        padding-top: 20px
        padding-bottom: 20px
        border-bottom: solid white 1px
        border-radius: 5px
        margin-bottom: 3px
        &.selected-nav-item
          background-color: #4aaa42
      ol.sub-nav-list
        display: none
        -webkit-padding-start: 0
        li
          padding-left: 10px
          padding-top: 5px
          padding-bottom: 5px
          background-color: #fff
          color: #555
          padding-right: 15px
        &.selected-nav-item
          display: list-item
  &#content-pane
    h1
      font-size: 3.0em
      font-weight: bold
      font-style: inherit
      margin-top: 15px
      margin-bottom: 15px
      text-align: center
      color: #555
    background-color: #eee
    width: 750px
    float: left
    margin-left: 10px
    div.account-view div
      &.account-header
        background-color: #0d723c
        padding-top: 10px
        padding-bottom: 10px
        color: white
        margin-left: 7px
        margin-right: 7px
      &.account-detail-view
        margin-left: 7px
        margin-right: 7px
        margin-bottom: 25px
        background-color: white
      &.account-header
        span
          background-color: #0d723c
          padding-left: 10px
          padding-right: 10px
          color: white
          font-size: 1.3em
          font-style: inherit
        > .account-name
          float: left
    div.past-budgets
      div.budget-header
        margin-top: 30px      
    div.current-budget,
    div.past-budgets
      div.budget-header
        background-color: #0d723c
        padding-top: 10px
        padding-bottom: 10px
        color: white
        margin-left: 7px
        margin-right: 7px
        span
          background-color: #0d723c
          padding-left: 0
          padding-right: 10px
          color: white
          font-size: 1.3em
          font-style: inherit
        > .time
          padding-left: 160px
        > .active
          padding-right: 0px
        > .name
          padding-left: 10px
        div.frac
          float: right
      progress
        background-color: white
        margin-left: 7px
        height: 7px
        width: 736px
        appearance: none
        -webkit-appearance: none
      progress::-webkit-progress-value
        background: #333
      div.budget-item
        margin-left: 15px
        margin-right: 15px
        div.category
          padding-top: 15px
          margin-bottom: 35px
          span
            float: left
          span.name
            font-size: 14pt
            font-style: inherit
            padding-right: 30px
          a.alert
            text-decoration: none
            color: white
            font-size: 12pt
          span.alert
            border: 1px solid black
            border-radius: 4px
            background-color: #0d723c
            padding: 1px 8px 1px 8px
          span.current
            font-size: 14pt
            font-style: inherit
          span.total
            font-size: 14pt
            font-style: inherit
            padding-left: 5px
          div.frac
            display: block
            float: right
        progress
          margin-left: 0px
          width: 720px
          height: 7px
          appearance: none
          -webkit-appearance: none
        progress::-webkit-progress-bar
          background-color: #888
          box-shadow: 0 3px 5px rgba(0,0,0,.25) inset
        progress::-webkit-progress-value
          background: #0b0
        progress.danger::-webkit-progress-value
          background: #b00
        progress.caution::-webkit-progress-value
          background: #bb0

          

.account-no-label, .account-no, .acconut-bal-label
  float: left

div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div
  &.account-header span
    &.account-no-label, &.account-bal-label
      padding-left: 80px
    &.account-no
      padding-left: 0px
    &.account-balance
      background-color: white
      color: black
      padding-top: 5px
      padding-bottom: 5px
      font-weight: bold
  &.account-detail-view
    span.activity-label
      color: #555
      font-size: 1.4em
      font-style: inherit
      padding-left: 40px
      padding-right: 10px
    div.activity-container
      padding-top: 15px