table.transaction-list 
	border: 1px solid black
	width: 730px
	margin-left: 10px
	margin-right: 10px
	margin-bottom: 10px
	collapse: collapse

table.transaction-list th, td
	border: 1px solid black
	background-color: white
	font-style: inherit
	padding: 7px 10px 7px 10px

table.transaction-list th
	color: white
	background-color: #0d723c
	text-align: center
	font-weight: bold
	font-size: 1.1em

table.transaction-list td.amount
	text-align: right

table.transaction-list th.selected
	background-color: #005012

table.transaction-list th a
	color: white
	text-decoration: none

table.transaction-list td
	contenteditable: true