<h1>Accounts</h1>
{{#each types}}
<div class="type">
    <h2 class="type-header">{{ type }} Accounts</h2>
    {{#each accounts}}
    <div id="account-{{ account_number }}" class="account-view">
        <h3 class="account-header" id="account-{{ account_number }}-header">
            <span class="account-name">{{ name }}</span>
            <span class="account-no">Acct. No: {{ account_number }}</span>
            <span class="account-bal">Balance: ${{ balance }}</span>
            <span class="account-dropdown"><i data-toggle="fa fa-chevron-up" class="fa fa-chevron-down"></i></span>
        </h3>
        <div class="account-detail-view" id="account-{{ account_number }}-detail">
            <p class="activity-container">
                <span class="activity-label">View Activity in: </span>
                <select class="time">
                    <option value="week">This Week</option>
                    <option value="month">This Month</option>
                    <option selected="selected" value="year">This Year</option>
                    <option value="all-time">All Time</option>
                </select>
            </p>
            <div class="chart-area">
                <div class="graph pie-graph"><img src="/res/img/loading.gif"/></div>
                <div class="graph bar-graph"><img src="/res/img/loading.gif"/></div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}