{{#each accounts}}
<div class="account-view">
  <div class="account-header">
    <a class="account-name" href="#account-{{ account_number }}-detail" onClick="$('#account-{{ account_number }}-detail').slideToggle();"><span>{{ name }}</span></a>
    <span class="account-no-label">Acct. No:</span>
    <span class="account-no">{{ account_number }}</span>
    <span class="account-bal-label">Balance:</span>
    <span class="account-balance">${{ balance }}</span>
  </div>

  <div class="account-detail-view" id="account-{{ account_number }}-detail">
    <div class="activity-container">
      <span class="activity-label">View Activity in: </span>
      <span class="custom-dropdown custom-dropdown--white">
        <select class="custom-dropdown__select custom-dropdown__select--white" name="">
          <option value="">This Week</option>
          <option value="">This Month</option>
          <option value="">This Year</option>
          <option value="">All Time</option>
        </select>
      </span>
    </div>
    <div id="graph-{{ account_number }}" class="graph">
    </div>
  </div>
</div>
{{/each}}