
    <div class="activity-container">
        <span class="activity-label">View Activity in: </span>
      <span class="custom-dropdown custom-dropdown--white">
        <select class="time" name="">
            <option value="week">This Week</option>
            <option value="month">This Month</option>
            <option value="year">This Year</option>
            <option value="all-time">All Time</option>
        </select>
      </span>
    </div>
    <div id="graph-{{ account_number }}" class="graph">
    </div>