<h1>
	AutoPay
</h1>

<h2>
	Existing Payments
</h2>

<div class="content">
	<div class="autopay-header">
		<span class="name">College Loan Payment</span>
		<span class="next">Next Scheduled Payment: October 1, 2014</span>
	</div>

	<div class="past-payment">
        <span class="date">September 1, 2014</span>
        <span class="dollar">$2,500.00</span>
    </div>

    <div class="past-payment">
        <span class="date">August 1, 2014</span>
        <span class="dollar">$2,500.00</span>
    </div>

    <div class="past-payment">
        <span class="date">July 1, 2014</span>
        <span class="dollar">$2,500.00</span>
    </div>

	<div class="autopay-header">
		<span class="name">Car Payment</span>
		<span class="next">No More Scheduled Payments</span>
	</div>

	<div class="past-payment">
        <span class="date">September 1, 2014</span>
        <span class="dollar">$1,650.00</span>
    </div>

    <div class="past-payment">
        <span class="date">August 1, 2014</span>
        <span class="dollar">$1,650.00</span>
    </div>

    <div class="past-payment">
        <span class="date">July 1, 2014</span>
        <span class="dollar">$1,650.00</span>
    </div>
</div>