<h1>
    Create Budget
</h1>

<div class="create-budget">

    <div class="new-category">
        <div class="category-name">
            <span class="category-entry">Budget Name: </span>
            <input type="text" class="category-input" placeholder="Name"/>
        </div><br>
        <span class="category-entry">Add Category: </span>
        <input type="text" class="category-input" placeholder="Category"/>
        <input type="button" class="add-category" value="Add"/>
    </div>

    <table class="create-budget">
        <thead>
        <th>Category</th>
        <th>Previous Budget</th>
        <th>Budget Amount</th>
        <th>Amount Spent</th>
        </thead>
        <tr>
            <td>Travel</td>
            <td>430.04</td>
            <td>350.00</td>
            <td>0.00</td>
        </tr>
    </table>

    <div class="save">
        <input type="submit" class="save-budget" value="Save"/>
    </div>
</div>
