<h1>Parental Controls</h1>
    <div id="account-654321987">
        <h3 class="account-header" id="account-654321987-header">
            <span class="account-name">Marcus's Credit Card</span>
            <span class="account-no">Acct. No: 654321987</span>
            <span class="account-bal">Balance: $40.29</span>
            <span class="account-dropdown"><i data-toggle="fa fa-chevron-up" class="fa fa-chevron-down"></i></span>
        </h3>
        <div class="account-detail-view" id="account-654321987">
            <p>Poop</p>
        </div>
    </div>