<h1>Alerts and Parental Controls</h1>
        <p><a href="#">Learn more about alerts add parental controls</a></p>
{{#each types}}
<div class="type">
    <h2 class="type-header">{{ type }} Accounts</h2>
    {{#each accounts}}
    <div id="account-{{ account_number }}" class="account-view">
        <h3 class="account-header" id="account-{{ account_number }}-header">
            <span class="account-name">{{ name }}</span>
            <span class="account-no">Acct. No: {{ account_number }}</span>
            <span class="account-bal">Balance: ${{ balance }}</span>
            <span class="account-dropdown"><i data-toggle="fa fa-chevron-up" class="fa fa-chevron-down"></i></span>
        </h3>
        <div class="account-detail-view" id="account-654321987">
            <ul>
                <li>Send me an <strong>email</strong> when a transaction of <strong>$300 or more</strong> is made. <a href="#" class="edit">Edit</a></span></li>
                <li>Limit <strong>withdrawals</strong> to <strong>less than $400</strong>. <a href="#" class="edit">Edit</a></li>
                <li>Text me when a <strong>deposit</strong> of <strong>greater than $300</strong> is made. <a href="#" class="edit">Edit</a></li>
                <li><a href="#" class="add">Add more</a></li>
            </ul>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}