/* line 2, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav {
  width: 200px;
  float: left;
}
/* line 5, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list {
  -webkit-padding-start: 0px;
}
/* line 7, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list a {
  color: white;
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
  font-style: inherit;
  font-weight: bold;
}
/* line 14, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li {
  background-color: #0d723c;
  list-style-type: none;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid white 1px;
  border-radius: 5px;
  margin-bottom: 3px;
}
/* line 23, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list li.selected-nav-item {
  background-color: #4aaa42;
}
/* line 25, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list ol.sub-nav-list {
  display: none;
  -webkit-padding-start: 0;
}
/* line 28, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list ol.sub-nav-list li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  color: #555;
  padding-right: 15px;
}
/* line 35, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#main-nav ul.side-nav-list ol.sub-nav-list.selected-nav-item {
  display: list-item;
}
/* line 37, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane {
  background-color: #eee;
  width: 750px;
  float: left;
  margin-left: 10px;
}
/* line 38, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane h1 {
  font-size: 3em;
  font-weight: bold;
  font-style: inherit;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #555;
}
/* line 51, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header {
  background-color: #0d723c;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-left: 7px;
  margin-right: 7px;
}
/* line 58, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view {
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 25px;
  background-color: white;
}
/* line 64, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span {
  background-color: #0d723c;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-size: 1.3em;
  font-style: inherit;
}
/* line 71, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header > .account-name {
  float: left;
}

/* line 74, ../sass/main-override.sass */
.account-no-label, .account-no, .acconut-bal-label {
  float: left;
}

/* line 79, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-no-label, div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-bal-label {
  padding-left: 80px;
}
/* line 81, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-no {
  padding-left: 0px;
}
/* line 83, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-header span.account-balance {
  background-color: white;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
/* line 90, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view span.activity-label {
  color: #555;
  font-size: 1.4em;
  font-style: inherit;
  padding-left: 40px;
  padding-right: 10px;
}
/* line 96, ../sass/main-override.sass */
div#wrapper div#wrapper2 div.container div#section3 div#content-pane div.account-view div.account-detail-view div.activity-container {
  padding-top: 15px;
}
